@page
@model ValleyVisionSolution.Pages.ManageProfiles.EditProfilesPageModel
@using FullProfile = ValleyVisionSolution.Pages.DataClasses.FullProfile;
@{
    ViewData["Title"] = "Edit Profile";
}

<!-- Edit Profile Form -->
<div class="modal fade" id="editProfileForm" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post" asp-page="/EditProfilesPage">
                <input type="hidden" name="triggeredBy" id="triggeredBy" value="">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Profile View</h5>
                    <button type="button" class="btn-close" id="closeButton" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">

                    <input type="hidden" asp-for="@Model.EditedProfile.UserID" value="@Model.ViewedProfile">
                    @{
                        FullProfile ProfileData = new FullProfile();
                        foreach (var profile in Model.AllProfiles)
                        {
                            if (profile.UserID == Model.ViewedProfile)
                            {
                                ProfileData = profile;
                            }
                        }
                    }

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div>Username:</div>
                            <input asp-for="@Model.EditedProfile.UserName" type="text" class="form-control" value="@ProfileData.UserName">
                            <span class="text-danger" asp-validation-for="@Model.EditedProfile.UserName"></span>
                        </div>
                        <div class="col-md-6">
                            <div>Password:</div>
                            <input asp-for="@Model.EditedProfile.Password" type="Password" class="form-control" value="@ProfileData.Password">
                            <span class="text-danger" asp-validation-for="@Model.EditedProfile.Password"></span>
                        </div>
                    @* Rest of form is in progress *@
                </div>
                <div class="modal-footer" style="border-top:none">
                    <button type="submit" class="btn btn-primary" asp-page-handler="UpdateTask">Update</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- End Edit Profile Form -->

<script>
    // Check if AddTaskInvalid is true on page load and reopen modal if needed
    window.addEventListener('DOMContentLoaded', (event) => {
        $('#editProfileForm').modal('show');

    });
</script>
<script>
    document.getElementById('closeButton').addEventListener('click', function () {
        // Redirect to the specific page
        window.location.href = '/ManageProfiles/EditProfilesPage';
    });
</script>    