@page
@model ValleyVisionSolution.Pages.ManageProfiles.ManageProfilesPageModel
@{
    ViewData["Title"] = "Users";
    ViewData["HeaderTitle"] = "ManageUsers";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">

<style>
    .tableHeader {
        background-color: #274c77;
        color: white;
        vertical-align: middle !important;
    }

    .populatebtn { /* Style specifically for the populate button */
        padding: 10px 15px; /* Smaller padding for a smaller button */
        background-color: #6c757d; /* Bootstrap's secondary button color for differentiation */
        color: white;
    }
</style>

    <br />
    <table class="table table-bordered table-striped table-responsive table-hover">
        <thead class="tableHeader">
            <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>User Type</th>
                <th>Street </th>
                <th>Apartment</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var profile in Model.FullProfileList)
                {
                    <tr>
                        <td>@profile.UserName</td>
                        <td>@profile.FirstName</td>
                        <td>@profile.LastName</td>
                        <td>@profile.Email</td>
                        <td>@profile.Phone</td>
                        <td>@profile.UserType</td>
                        <td>@profile.Street</td>
                        <td>@profile.Apartment</td>
                        <td>@profile.City</td>
                        <td>@profile.State</td>
                        <td>@profile.Zip</td>
                        <td>@profile.Country</td>
                        <td style="display:inline-flex;">
                        <a type="submit" class="btn btn-sm btn-light" asp-page="EditProfilesPage" style="margin-right:8px; align-content: center;" asp-route-userid="@profile.UserID">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <form method="post" onsubmit="return confirm('Are you sure you want to delete this user?')" style="align-content: center" asp-route-userid=" @profile.UserID" asp-page-handler="DeleteProfile">
                            <button type="submit" class="btn btn-danger btn-sm custom-margin-left;">
                                <i class="bi bi-trash"></i> 
                            </button>
                        </form>
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>
    <br />
    <button class="btn" style=" background-color:#2e4c74; -webkit-text-fill-color:white;" data-bs-toggle="modal" data-bs-target="#addProfileForm">Create User</button>



    <!-- Add New Profile Form -->
    <div class="modal fade" id="addProfileForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form method="post" asp-page="/ManageProfilesPage">
                    <input type="hidden" name="triggeredBy" id="triggeredBy" value="">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add User</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div>Username: </div>
                                <input asp-for="@Model.NewProfile.UserName" type="text" class="form-control">
                                <span class="text-danger" asp-validation-for="@Model.NewProfile.UserName"></span>
                            </div>
                            <div class="col-md-6">
                                <div>Password: </div>
                                <input asp-for="@Model.NewProfile.Password" type="text" class="form-control">
                                <span class="text-danger" asp-validation-for="@Model.NewProfile.Password"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div>First Name: </div>
                                <input asp-for="@Model.NewProfile.FirstName" type="text" class="form-control">
                                <span class="text-danger" asp-validation-for="@Model.NewProfile.FirstName"></span>
                            </div>
                            <div class="col-md-6">
                                <div>Last Name: </div>
                                <input asp-for="@Model.NewProfile.LastName" type="text" class="form-control">
                                <span class="text-danger" asp-validation-for="@Model.NewProfile.LastName"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div>Email: </div>
                                <input asp-for="@Model.NewProfile.Email" type="text" class="form-control">
                                <span class="text-danger" asp-validation-for="@Model.NewProfile.Email"></span>
                            </div>
                            <div class="col-md-6">
                                <div>Phone: </div>
                                <input asp-for="@Model.NewProfile.Phone" type="text" class="form-control">
                                <span class="text-danger" asp-validation-for="@Model.NewProfile.Phone"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div>User Type: </div>
                            <select asp-for="@Model.NewProfile.UserType" class="form-select">
                                <option value="User">User</option>
                                <option value="Admin">Admin</option>
                            </select>
                                <span class="text-danger" asp-validation-for="@Model.NewProfile.UserType"></span>
                            </div>
                            <div class="col-md-6">
                                <div>Street: </div>
                                <input asp-for="@Model.NewProfile.Street" type="text" class="form-control">
                                <span class="text-danger" asp-validation-for="@Model.NewProfile.Street"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div>Apartment: </div>
                                <input asp-for="@Model.NewProfile.Apartment" type="text" class="form-control">
                                <span class="text-danger" asp-validation-for="@Model.NewProfile.Apartment"></span>
                            </div>
                            <div class="col-md-6">
                                <div>City: </div>
                                <input asp-for="@Model.NewProfile.City" type="text" class="form-control">
                                <span class="text-danger" asp-validation-for="@Model.NewProfile.City"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div>State: </div>
                                <input asp-for="@Model.NewProfile.State" type="text" class="form-control">
                                <span class="text-danger" asp-validation-for="@Model.NewProfile.State"></span>
                            </div>
                            <div class="col-md-6">
                                <div>Zip: </div>
                                <input asp-for="@Model.NewProfile.Zip" type="text" class="form-control">
                                <span class="text-danger" asp-validation-for="@Model.NewProfile.Zip"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div>Country: </div>
                                <input asp-for="@Model.NewProfile.Country" type="text" class="form-control">
                                <span class="text-danger" asp-validation-for="@Model.NewProfile.Country"></span>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer" style="border-top:none">
                        <button type="submit" class="btn btn-primary" asp-page-handler="NewProfile">Create</button>
                        <button class="btn btn-secondary" asp-page="/ManageProfiles/ManageProfilesPage" asp-page-handler="PopulateHandler" formnovalidate>Populate</button>
                    </div>
                    
                    </form>
            </div>
        </div>
    </div>
    <!-- End New Profile Form -->

<script>
    // Check if AddProfile is true on page load and reopen modal if needed
    window.addEventListener('DOMContentLoaded', (event) => {
        if (@Model.OpenAddProfileModal.ToString().ToLower()) {
            $('#addProfileForm').modal('show');
        }
    });
</script>

<script>
    // Check if AddProfile is true on page load and reload page without closing the modal
    window.addEventListener('DOMContentLoaded', (event) => {
        if (@Model.OpenAddProfileModal.ToString().ToLower()) {
            $('#addProfileForm').modal('show');
            // Trigger reload after modal is shown
            $('#addProfileForm').on('shown.bs.modal', function () {
                
            });
        }
    });
</script>
