@page
@using ValleyVisionSolution.Pages.DB
@model ValleyVisionSolution.Pages.Initiatives.InitiativesPageModel
@{
    ViewData["Title"] = "Initiatives";
    ViewData["ShowHeader"] = "True";
    ViewData["HeaderTitle"] = "Initiatives";
}
@{
    string defaultImagePath = "/images/default.png";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">

<style>
    .tile-container {
        display: flex;
        flex-wrap: wrap;

    }

    .nav {
        background-color: lightgrey;
        width: 100%; 
        font-size:1.2em;
        font-weight:bold;
        text-align:center;
        display:block;
        padding:16px;

    }

        .nav::after {
            content: '';
            display: table;
            clear: both;
        }

    .tile {
        text-decoration: none;
        color: #274c77;
        width: calc(33% - 4%);
        height: 16vw;
        border-radius: 5px;
        font-size: 1.2em;
        cursor: pointer;
        transition: transform 0.5s, box-shadow 0s;
        border: 1px solid lightgrey;
        outline: none;
        display: flex;
        flex-direction: column;
        margin: 2%;
        font-size:1.3vw;
        overflow:hidden;
    }

        .tile img {
            width: 100%;
            height: 12vw;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            vertical-align: middle;
            display: inherit;
            text-align: center;
        }

        .tile:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            color: #274c77;
        }

    .btn-light {
        background-color: white !important;
        border-color: lightgrey;
        color: black !important;
    }

    .btn-check:focus + .btn-light, .btn-light:focus {
        color: #000;
        background-color: #f9fafb;
        border-color: #f9fafb;
        box-shadow: 0 0 0 0.25rem rgba(211,212,213,.5);
    }

    .btn-light:hover {
        border-color: lightgrey;
    }

</style>


<div class="tile-container">
    @foreach (var initiative in Model.InitiativesList)
    {
        <a asp-page="/Dashboard/DashboardPage" asp-route-initID="@initiative.InitID" asp-route-initName="@initiative.InitName" class="tile">
            <div class="tile-content">
                @if (string.IsNullOrEmpty(initiative.FilePath))
                {
                    <!-- Use default image path as src for the image tag -->
                    <img src="@defaultImagePath" alt="Default Image" style="font-size:small;">
                }
                else
                {
                    <!-- Use the FilePath provided by the initiative -->
                    <img src="@initiative.FilePath" alt="Custom Image" style="font-size:small;">
                }
                
                        @{
                            int? UserID = HttpContext.Session.GetInt32("UserID");

                            String UserType = DBClass.CheckUserType((int)UserID);

                            @if (UserType == "Admin")

                            {
                                
                                <div class="align-items-center" style="background-color:#274c77; padding-left: 8px;">
                                    <div class="tile-text" style="display: flex; align-items: center; height: 4vw; background-color: #274C77; color: white; justify-content: center;">
                                        <span>@initiative.InitName</span>
                                        <form method="post" asp-page="Initiatives/InitiativesPage" style="margin-left: 8px;">
                                            <input type="hidden" asp-for="@Model.EditedInit" value="@initiative.InitID">
                                            <button asp-page-handler="EditInit" type="submit" class="btn btn-sm btn-light" style="background-color: #6096BA !important; border-color: #6096BA; color: white !important;">
                                                <i class="bi bi-pencil"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>

                                
                            }
                            else
                            {
                                <div class="align-items-center" style="background-color:#274c77;">
                                    <div class="tile-text" style=" display:flex; align-items:center; height:4vw; background-color:#274C77; color:white; justify-content:center;">
                                        @initiative.InitName
                                    </div>
                                </div>
                            }
                        }
                        </div>
        </a>
    }
    
    @{
        int? UserId = HttpContext.Session.GetInt32("UserID");

        String userType = DBClass.CheckUserType((int)UserId);

        @if (userType == "Admin")

        {

            <button type="submit" class="tile" data-bs-toggle="modal" data-bs-target="#addInitForm" style="color:#274c77; align-items: center;justify-content: center;">Add New Initiative +</button>



        }

    }
</div>



<!-- Add New Initiative Form -->
<div class="modal fade" id="addInitForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post" asp-page="/TaskManagerPage">
                <input type="hidden" name="triggeredBy" id="triggeredBy" value="">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div>Initiative Name:</div>
                            <input asp-for="@Model.NewInit.InitName" type="text" class="form-control">
                            <span class="text-danger" asp-validation-for="@Model.NewInit.InitName"></span>
                        </div>
                        <div class="col-md-6">
                            <div>Upload Image:</div>
                            <input type="file" class="form-control" id="imageUploadInput">
                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="form-group">
                            <input type="hidden" class="form-control" asp-for="NewInit.InitDateTime" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" required />
                            <span class="validity" />
                        </div>
                        <div class="col-md-6">
                            <div>Assign to:</div>
                            <select asp-for="@Model.NewInitUsers" class="selectpicker form-control" multiple data-live-search="true" style="height:38px">
                                @{
                                    foreach (var user in Model.InitUsers)
                                    {
                                        <option value="@user.UserID">@user.FirstName @user.LastName</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <div>Activate Pages:</div>
                            <select asp-for="@Model.NewTiles" class="selectpicker form-control" multiple data-live-search="true" style="height:38px">
                                @{
                                    foreach (var tile in Model.Tiles)
                                    {
                                        <option value="@tile.TileID"> @tile.TileName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer" style="border-top:none">
                        <button type="submit" class="btn btn-primary" asp-page-handler="AddNewInit">Add</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- End New Initiative Form -->
