@page
@model ValleyVisionSolution.Pages.ProposedDevelopments.DevelopmentPageModel
@{
    ViewData["Title"] = "Development Files";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">

<style>
    .btn-light {
        background-color: white !important;
        border-color: lightgrey;
        color: black !important;
    }

        .btn-check:focus + .btn-light, .btn-light:focus {
            color: #000;
            background-color: #f9fafb;
            border-color: #f9fafb;
            box-shadow: 0 0 0 0.25rem rgba(211,212,213,.5);
        }

        .btn-light:hover {
            border-color: lightgrey;
        }
</style>



<div class="container mt-4 mb-4">
    <div class="card bg-dark text-white">
        <div class="card-header">
            <h3>@Model.DevName Proposed Development Information</h3>
        </div>
        <div class="card-body">
            <p class="card-text">@Model.DevDescription</p>
            <p class="card-text">Impact Level: <strong>@Model.DevImpactLevel</strong></p>
            <p class="card-text">Date Uploaded: @Model.UploadTime.ToString("MM/dd/yyyy")</p>
        </div>
    </div>
</div>


@* @if (Model.DevFilesList.Any())
{
    <form method="post" asp-page="/DevelopmentPage">
        <div class="modal-body">
            <div class="col-md-6">
                <div>Select Files</div>
                <select asp-for="NewDevelopmentFiles" class="selectpicker form-control" multiple data-live-search="true" style="height:38px">
                    @foreach (var file in Model.EconFileList)
                    {
                        <option value="@file.FileMetaID">@file.FileName_ </option>
                    }
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" asp-page-handler="AddDevelopmentFiles">Add Selected File</button>
        </div>
    </form>

    <div class="container mt-3">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">File Name</th>
                    <th scope="col">File Type</th>
                    <th scope="col">Uploaded By</th>
                    <th scope="col">Uploaded Date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var file in Model.DevFilesList)
                {
                    <tr>
                        <td>@file.FileName_</td>
                        <td>@file.FileType</td>
                        <td>@file.FirstName @file.LastName</td>
                        <td>@file.UploadedDateTime.ToString("MM/dd/yyyy")</td>
                        <td>
                            <a href="@Url.Content(file.FilePath)" class="btn btn-primary btn-sm" download>Download</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div >
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ecoDevFilesModal">Add Resources from Economic Development</button>
    </div>
    <div>
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#ecoDevFilesModal">Edit Development Area</button>
    </div>
    
}
else
{ *@
    <div class="text-center">
        <!-- Center the content when no files are found -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ecoDevFilesModal">Add Resources from Economic Development</button>
    </div>
    <br />
    <div class="text-center">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#ecoDevFilesModal">Edit Development Area</button>
    </div>
<div class="container mt-3">
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">File Name</th>
                <th scope="col">File Type</th>
                <th scope="col">Uploaded By</th>
                <th scope="col">Uploaded Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model.DevFilesList)
            {
                <tr>
                    <td>@file.FileName_</td>
                    <td>@file.FileType</td>
                    <td>@file.FirstName @file.LastName</td>
                    <td>@file.UploadedDateTime.ToString("MM/dd/yyyy")</td>
                    <td>
                        <a href="@Url.Content(file.FilePath)" class="btn btn-primary btn-sm" download> <i class="bi bi-download"></i></a>
                        <form method="post" style="display: inline-block;"
                              asp-page-handler="DeleteDevelopmentFiles"
                              asp-route-fileMetaID="@file.FileMetaID"
                              onsubmit="return confirm('Are you sure you want to delete this file?');">
                            <button type="submit" class="btn btn-danger btn-sm custom-margin-left">
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<!-- Modal for adding files to the proposed development -->
<div class="modal fade" id="ecoDevFilesModal" tabindex="-1" aria-labelledby="ecoDevFilesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page="/DevelopmentPage">
                <div class="modal-header">
                    <h5 class="modal-title" id="ecoDevFilesModalLabel">Select a File to Add</h5>
                    @* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
                </div>
                <div class="modal-body">
                    <div class="col-md-6">
                        <div>Select Files</div>
                        <select asp-for="@Model.NewDevelopmentFiles" class="selectpicker form-control" multiple data-live-search="true" style="height:38px">
                            @{
                                foreach (var file in Model.EconFileList)
                                {
                                    <option value="@file.FileMetaID">@file.FileName_ @file.FileType</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" asp-page-handler="AddDevelopmentFiles">Add Selected File</button>
                </div>
            </form>
        </div>
     </div>
</div> 

<script>
    $(document).ready(function () {
        var filesAdded = '@TempData["FilesAdded"]';
        if (filesAdded === "true") {
            $('#ecoDevFilesModal').modal('hide'); // Close the modal
        }
    });
</script>




