@page
@model ValleyVisionSolution.Pages.DiscussionBoard.DiscussionBoardPageModel
@{
    ViewData["Title"] = "Discussion Board";
}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<style>
    .dashboard-grid {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-areas:
            "Users Messages";
        gap: 3vw;
    }

    .dashboard-tile {
        font-size: max(1.25vw, 10px);
    }

    #UserBoard {
        grid-area: Users;
        overflow-x: auto;
        background-color: #f2f2f2;
    }

    #MessageBoard {
        grid-area: Messages;
        overflow-x: auto;
        background-color: white;
        border: solid 1px;
        border-color: #274c77;
    }
    
    .button {
        grid-area: Button;
        border: none;
        background-color: #6096BA;
        color: white;
    }

    .receivedMessageContainer {
        display: flex;
        justify-content: left;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .receivedMessage {
        border-radius: 15px;
        padding: 5px 10px 5px 10px;
        background-color: lightgrey;
        display: inline-block;
        max-width: 70%;
    }

    .sentMessageContainer {
        display: flex;
        justify-content: right;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .sender {
        padding: 5px 10px 0px 10px;
        display: inline-block;
        font-size: smaller;
    }

    .sentMessage {
        border-radius: 15px;
        padding: 5px 10px 5px 10px;
        background-color: #6096BA;
        display: inline-block;
        color: white;
        max-width: 70%;
    }

    .messageForm {
        bottom: 10%;
        justify-content: center;
    }

    .messageContent {
        color: black;
        border-radius: 15px;
        border: 1px solid #274c77;
        width: 95%;
        margin: 2.5%;
        padding-top: 5px;
        overflow-x:auto;
        overflow-y: auto;
        padding-right: 10px;
        padding-left: 10px;
        -webkit-text-fill-color: black;
        font-size:medium;
    }

    .sendMessageBtn {
        background-color: #6096BA;
        border-radius: 8px;
        justify-content:right;
        justify-content:end;
        width:6vw;
    }

    .btn-primary{
        border-color: #6096BA;
    }

    .btn-primary:hover{
        border-color: #274c77;
        background-color: #274c77;
    }

    .dashboard-tile-title {
        background-color: #274C77;
        color: #fff;
        text-align: center;
    }

    .dashboard-tile-contents {
        padding: 2.5% 6% 2.5% 6%;
    }

    .messageForm {
        align-self: end;
    }

</style>
<div class="dashboard-grid">
<div id="UserBoard" class="dashboard-tile">
    <div class="dashboard-tile-title">Users</div>
    <div class="dashboard-tile-contents" >
        @{
            foreach (var user in Model.Users)
            {
                    <div style="font-size:max-width(20px,0.5vw); -webkit-text-fill-color:#274c77;">@user.FirstName @user.LastName</div>
            }
        }
    </div>
</div>

<div id="MessageBoard" class="dashboard-tile">
    <div class="dashboard-tile-title">Discussion Board</div>
        <div class="dashboard-tile-contents" id="chat" style="overflow-y:scroll; height: 50vh;">
        @{
            foreach (var message in Model.Messages)
            {
                if (HttpContext.Session.GetInt32("UserID") == message.UserID)
                {
                    <div class="sentMessageContainer">

                        <div class="sentMessage">@message.MessageContent</div>
                    </div>
                }
                else
                {
                    <div class="receivedMessageContainer">
                        <div class="sender">@message.FirstName @message.LastName</div>
                    </div>
                    <div class="receivedMessageContainer">
                        <div class="receivedMessage">@message.MessageContent</div>
                    </div>
                }
            }
        }
    </div>
    <br/>
    <form asp-page="DashboardPage" method="post" class="messageForm">
        <textarea asp-for="@Model.NewMessage.MessageContent" class="messageContent" placeholder="Type message..."></textarea>
            <div class="btnhandler" style="display:flex; justify-content:right; width:95%; margin:-2% 2.5% 1.5% 2.5%;">
        <button asp-page-handler="SendMessage" type="submit" class="btn-primary sendMessageBtn">Send</button>
        </div>
    </form>
    </div>
</div>
<script>
    window.onload = function () {
        var messageBoard = document.getElementById("chat");
        messageBoard.scrollTop = messageBoard.scrollHeight;

        var messageForm = document.querySelector('.messageForm');
        var messageContent = document.querySelector('.messageContent');

        messageContent.addEventListener('keydown', function (event) {
            
            if (event.key === 'Enter' && !event.shiftKey) {
                event.preventDefault();

                if (messageContent.value.trim() !== "") {
                    messageForm.action = '?handler=SendMessage';
                    messageForm.submit();
                }
            }
        });
    };
</script>
