@page
@model ValleyVisionSolution.Pages.Login.LoginPageModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #274c77;
            font-family: Arial, Helvetica, sans-serif;
        }

        .parameterTitle {
            position: relative;
            display: inline-block;
            cursor: pointer;
            color:#274c77;
            padding-top:10px;
            
        }

        .parameterTitle {
            position: relative;
            display: inline-block;
        }

        .custom-tooltip {
            visibility: hidden;
            width: 200px;
            background-color: white;
            color: #000;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -100px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
            font-size:80%;
        }

        .parameterTitle:hover .custom-tooltip {
            visibility: visible;
        }

        .login-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .bannerObject img {
            margin-bottom: 20px; 
            justify-content: center;
            display: flex;

        }

        .bannerObject{
            justify-content: center;
            display: flex;
        }

        .container {
            width: 400px;
            padding: 20px;
            border-radius: 20px;
            background-color: white;
        }

        h1 {
            text-align: left;
            margin: 0;
        }

        h3 {
            text-align: left;
            margin: 0;
            margin-top: 5px;
        }

        h5 {
            margin-top: 20px;
            margin-bottom: 5px
        }

            h5.username {
                margin-top: 50px;
            }

        input[type="text"], .buttons button {
            width: 100%;
            padding: 10px;
            margin-top: 10px; /* Adjusts spacing */
            border: 1px solid #ccc;
            border-radius: 2px;
            box-sizing: border-box;
        }

        input[type="password"], .buttons button {
            width: 100%;
            padding: 10px;
            margin-top: 10px; /* Adjusts spacing */
            border: 1px solid #ccc;
            border-radius: 2px;
            box-sizing: border-box;
        }

        .buttons {
            display: flex;
            justify-content: space-between; /* Adjust buttons to sit next to each other */
            gap: 10px; /* Spacing between buttons */
            margin-top: 20px;
        }

            .buttons button {
                padding: 10px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 16px;
            }


        .populatebtn { /* Style specifically for the populate button */
            padding: 10px 15px; /* Smaller padding for a smaller button */
            background-color: #; /* Bootstrap's secondary button color for differentiation */
            color: white;
        }

            .populatebtn:hover {
                background-color: #5a6268;
            }
/*         .buttons {
            text-align: center;
            margin-top: 30px;
        }

            .buttons button {
                padding: 10px 20px;
                margin: 0 5px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                background-color: #007bff;
                color: white;
                font-size: 16px;
            }

                .buttons button:hover {
                    background-color: #0056b3;
                }

            .buttons .loginbtn {
                width: 250px;
            } */
        .btn-primary {
            background-color: #274c77;
            border-color: #274c77;
            -webkit-text-fill-color: white;
        }

            .btn-primary:hover {
                background-color: #6096BA;
                border-color: #6096BA;
                -webkit-text-fill-color: white;
            }

        .btn-secondary {
            color: #fff;
            background-color: #8B8C89;
            border-color: #8B8C89;
        }

            .btn-secondary:hover {
                color: #fff;
                background-color: #b2afaf;
                border-color: #b2afaf;
            }
        .text-danger {
            text-align: center;
            margin-top: 5px;
            color: red;
        }
    </style>
</head>

<body>
    <div class="login-container">
        <div class="bannerObject">
            <img src="/images/MadCoPicture.png" alt="Logo" style="width:80%">
        </div>
        <form asp-page="Index" method="post" class="container">
            @if (!string.IsNullOrEmpty(Model.LogoutMessage))
            {
                <p style="color:#0ccd0c">@Model.LogoutMessage</p>
            }
            <h1 style ="-webkit-text-fill-color:#274c77; text-align:center;">Staff Login</h1>
            <h5 class="username" style="-webkit-text-fill-color:#274c77;">Username</h5>
            <input type="text" asp-for="@Model.UserCredentials.Username" placeholder="Enter your username" />
            <span asp-validation-for="@Model.UserCredentials.Username" class="text-danger"></span>

            <h5 style="-webkit-text-fill-color:#274c77;">Password</h5>
            <input type="text" asp-for="@Model.UserCredentials.Password" placeholder="Enter your password" />
            <span asp-validation-for="@Model.UserCredentials.Password" class="text-danger"></span>

            
            <div class="col-md-2">
                <div class="parameterTitle">
                    <i class="bi bi-question-circle"></i>
                    <span class="custom-tooltip">Need Help? Contact Timothy Grayson timothy@madison.com</span>
                </div>
            </div>
            

            <div class="buttons">
                <button type="submit" class="btn-secondary" asp-page="/Login/LoginPage" asp-page-handler="PopulateHandler" formnovalidate>Populate</button>
                <select name="option" style="border: 1px solid #ccc; border-radius: 2px;">
                    <option value="">Select User</option>
                    <option value="option1">Ryan Thompson</option>
                    <option value="option2">Timothy Grayson</option>
                </select>
                <button type="submit" class="btn-primary" asp-page-handler="LoginHandler" formnovalidate>Login &rarr;</button>
            </div>

@*             <div class="buttons">
                <button type="submit" class="loginbtn" asp-page-handler="LoginHandler" formnovalidate>Login &rarr;</button>
                <button asp-page="/Login/LoginPage" type="submit" asp-page-handler="PopulateHandler" formnovalidate>Populate</button>
            </div> *@
            @if (!string.IsNullOrEmpty(Model.LoginMessage))
            {
                <p class="text-danger">@Model.LoginMessage</p>
            }
            <br/>
            
        </form>
    </div>
</body>
</html>



@* @page
@model ValleyVisionSolution.Pages.Login.LoginPageModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}


<style>
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }

    .bannerObject {
        width: 35%; /* Adjust width as needed */
        margin: 0 auto; /* Centers the element horizontally */
        padding-top: 50px; /* Adds padding at the top. Adjust value as needed */
        display: block; /* Ensures the element is treated as a block-level element */
    }

    
    .container {
        width: 400px;
        margin: 100px auto;
        padding: 20px;
        border-radius: 20px;
        background-color: white;
    }


    body {
        background-color: #274c77;
    }




    h1 {
        text-align: left;
        margin: 0;
    }

    h3 {
        text-align: left;
        margin: 0;
        margin-top: 5px;
    }

    h5 {
        margin-top: 20px;
        margin-bottom: 5px
    }

        h5.username {
            margin-top: 50px;
        }

    input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-top: 0px;
        border: 1px solid #ccc;
        border-radius: 2px;
        box-sizing: border-box;
    }

        input[type="text"]:focus {
            border-color: #4d4d4f;
            outline: none;
        }

    .buttons {
        text-align: center;
        margin-top: 50px;
    }

        .buttons button {
            padding: 10px 20px;
            margin: 0 5px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background-color: #007bff;
            color: white;
            font-size: 16px;
        }

            .buttons button:hover {
                background-color: #0056b3;
            }

        .buttons .loginbtn {
            width: 250px;
        }

    .text-danger {
        text-align: center;
        margin-top: 5px;
        color: red;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="bannerObject" id="bannerDivbanner1" style="min-height: 350px; top: 0px; left: 0px; right: -385px; position: absolute; overflow: hidden; z-index: -1; padding: 0px;" data-image-scale="true"><img class="bannerObject" width="1260" style="position: absolute; left: 0px; margin: 0px; " src="/images/MadCoPicture.png" data-is-delayed="false" alt=""></div>
<body>
    <form asp-page="Index" method="post">
        <div class="container">
            @if (!string.IsNullOrEmpty(Model.LogoutMessage))
            {
                <p style="color:#0ccd0c">@Model.LogoutMessage</p>
            }
            <h1>Log in</h1>

            <h5 class="username">Username</h5>
            <input type="text" asp-for="@Model.UserCredentials.Username" placeholder="Enter your username" />
            <span asp-validation-for="@Model.UserCredentials.Username" class="text-danger"></span>

            <h5>Password</h5>
            <input type="text" asp-for="@Model.UserCredentials.Password" placeholder="Enter your password" />
            <span asp-validation-for="@Model.UserCredentials.Password" class="text-danger"></span>


            <div class="buttons">
                <button type="submit" class="loginbtn" asp-page-handler="LoginHandler" formnovalidate>Login &rarr;</button>
                <button asp-page="/Login/LoginPage" type="submit" asp-page-handler="PopulateHandler" formnovalidate>Populate</button>
            </div>
            @if (!string.IsNullOrEmpty(Model.LoginMessage))
            {
                <p class="text-danger">@Model.LoginMessage</p>
            }
            <br />
            
        </div>
    </form>
</body>
</html>
 *@